@charset "UTF-8";

*{outline:none;}
html{background-color:#FFFFFF;}
html,body{min-height:100%;}
body{
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size:1rem;
  line-height:1;
  color:#333333;}
img,figure{
  max-width:100%;
  height:auto;
  vertical-align:middle;
  border:0rem;}
h1, h2, h3, h4, h5, h6{
  font-weight:normal;
  line-height:1;
}
a:link{
  text-decoration:none;
  font-size:1rem;
}
a:hover{
  text-decoration:none;
}

body{
  background-color:#ffffe0
}

.header{
 height:4rem;
 background-color:#006400;
 position:relative;
}

.header h1 a{
	font-size:3rem;
	color:yellow;
	display:inline-block;
	position:absolute;
	left:0.5rem;
	top:0.5rem;
}

.header .account, .header .cart, .header .edit, .header .add, .header .logout{
	color:#fffffc;
  position:absolute;
  float:right;
}

.header .account{
	top:1rem;
	right:11rem;
}

.header .cart{
	top:1rem;
	right:1rem;
}

.header .edit{
	top:1rem;
	right:14rem;
}

.header .add{
	top:1rem;
	right:8rem;
}

.header .logout{
	top:1rem;
	right:1rem;
}

.box{
	display:flex;
	width:100%;
}

aside{
	width:20rem;
  padding:3rem;
}

main{
	width:60rem;
}

main .list{
	width:80%;
	background-color:#FFFFFC
}

main img{
	width:15rem;
}

main .product{
	display:flex;
	padding:2rem;
	border:solid 1px #d3d3d3;
}

main .description{
	width:15rem;
	padding: 1rem;
}
.errors{
	color:red;
	font-size:0.7rem;
}

.admission {
	padding:2rem;
	width:30rem;
	margin:0 auto;
	text-align:center;
	background-color:#fffffc;
}

.admission h2{
	font-size:2.5rem;
	padding-bottom:0.5rem;
}

.admission input{
	width:20rem;
	height:2rem;
	margin:0.5rem;
}

.admission btn{
	width:20rem;
	height:2rem;
}

.admission p{
	padding:0.5rem;
}

.customerList{
	padding-top:2rem;
	padding-bottom:2rem;
  width:45rem;
  margin:0 auto;
  text-align:center;
  background-color:#fffffc;
}
.customerList td{
	padding:0.4rem;
}

footer{
	height:3rem;
	background-color:#006400;
	color:#fffffc;
	display:flex;
	align-items:center;
  justify-content:center;
}