@charset "UTF-8";

@charset "utf-8";
*{outline:none;}
html{background-color:#FFFFFF;}
html,body{min-height:100%;}
body{
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size:1rem;
  line-height:1;
  color:#333333;}
img,figure{
  max-width:100%;
  height:auto;
  vertical-align:middle;
  border:0rem;}
h1, h2, h3, h4, h5, h6{
  font-weight:normal;
  line-height:1;
}
a:link{
  text-decoration:none;
  font-size:1rem;
}
a:hover{
  text-decoration:none;
}



.errors{
	color:red;
}

.admisson {
	width:60%;
	margin:0 auto;
}