@charset "UTF-8";

*{outline:none;}
html{background-color:#FFFFFF;}
html,body{min-height:100%;}
body{
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size:1rem;
  line-height:1;
  color:#333333;}
img,figure{
  max-width:100%;
  height:auto;
  vertical-align:middle;
  border:0rem;}
h1, h2, h3, h4, h5, h6{
  font-weight:normal;
  line-height:1;
}
a:link{
  text-decoration:none;
  font-size:1rem;
}
a:hover{
  text-decoration:none;
}


.header{
 height:4rem;
 background-color:#006400;
 position:relative;
}

.header h1{
	font-size:3rem;
	color:yellow;
	display:inline-block;
	position:absolute;
	left:0.5rem;
	top:0.5rem;
}

.header .account, .header .cart{
	color:white;
  position:absolute;
  float:right;
}

.header .account{
	top:1rem;
	right:11rem;
}

.header .cart{
	top:1rem;
	right:1rem;
}

.errors{
	color:red;
	font-size:0.7rem;
}

.admission {
	width:25rem;
	margin:0 auto;
	text-align:center;
}

.admission h1{
	font-size:2.5rem;
}

.admission input{
	width:20rem;
	height:2rem;
	margin:0.2rem;
}

.addmission btn{
	width:20rem;
	height:2rem;
}